body {
	background-color: #005293;
}

#main-display {
	margin-top: 10%;
	color: #fff;
}

#storyboard {
	background-color: #F7EED4;
	color: #fff;
}

#main-chart-container {
}

#main-chart {
}

#map-chart-container {
}

#map-chart {
}