body {
	/*background-color: #005293;*/
}

#main-display {
  color: #fff;
  margin-bottom: 20px;
  background-color: #FFFEFA;
  padding: 10px;
  border: 1px solid #D0D0D0;
}

#storyboard {
	background-color: #F7EED4;
	color: #fff;
}

#main-chart-container {
}

#main-chart {
}

#map-chart-container {
}

#map-chart {
  padding-left: 80px;
}

#map-chart .background {
	/*fill: #005293;*/
}

#main-chart-container button.button {
	background-color: #fff;
  	float: right;
  	margin: 0 3px;
}

#opportunity-container {
	color: #404040;
}

#opportunity-container h3 {
  padding-top: 25px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
}

#opportunity-container h5 {
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  background-color: #C89B05;
  color: #fff;
}

#opportunity-score {
	font-size: 9em;
	font-weight: bolder;
	font-family: Arial;
	display: block;
	text-align: center;
}

#domain-titles {
	text-align: center;
	margin-bottom: 20px;
}

#domain-titles #title-economic {
	background-color: #118B7E;
}
#domain-titles #title-education {
	background-color: #752A8E;
}
#domain-titles #title-health {
	background-color: #2176BC;
}
#domain-titles #title-family {
	background-color: #D01F42;
}

#domain-titles h5 {
  line-height: 18px;
  padding: 0;
  margin: 12px;
  text-transform: uppercase;
  color: #fff;
  font-weight: bold;
}

#domain-titles div {
	cursor: pointer;
}

.container {
  width: 1050px;
}

h1 {
  font-size: 26px;
  padding: 0px 0 5px 0;
  line-height: 1.2em;
  color: #000;
  margin-bottom: 0px;
}

#lead {
  clear: both;
  width: 600px;
}

#lead p {
  color: #444;
  font-family: Georgia,Palatino,serif;
  font-size: 1.0em;
  line-height: 1.4em;
}

.chart {
  float: left;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-top:0;
  padding-left:0;
}

svg {
  font-size: 10px;
}

.background {
  fill: none;
}

.area.economic{
  fill: #118B7E;
}
.area.family{
  fill: #D01F42;
}
.area.education{
  fill: #752A8E;
}
.area.health{
  fill: #2176BC;
}
.area.overall{
  fill: #E9AF1D;
}

.line {
  fill: none;
  stroke: #74736c;
  stroke-width: 1.4px;
}

.title {
  font-size: 12px;
}

.axis line, .grid line {
  stroke-width: .5px;
  shape-rendering: crispEdges;
  stroke: #fff;
  opacity: 0.5;
  pointer-events: none;
}

.axis path {
  display: none;
}

.hidden {
  display:none;
  opacity: 0.0;
}

path.active {
  fill: #6C560E !important;
  stroke-width: .5px;
  stroke: #453709;
  stroke-dasharray: 1 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#button-wrap {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  margin-bottom: 10px;
  padding-left: 5px;
}


.button.active {
  box-shadow: inset 0px 0px 7px rgba(0,0,0,0.18);
  pointer-events: none;
  background-color: #e6e6e6;
}

#count {
  border-radius: 5px 0px 0px 5px;
}

#name {
  border-radius: 0px 5px 5px 0px;
}

#small-multiples text.title {
	text-transform: capitalize;
}


/*********** CTODD ****************/
.navbar {
  background-color: #E86421;
  padding: 0px;
  margin: 0px;

a {
  color: #1EAEDB; }
a:hover {
  color: #0FA0CE; }
  
.header {
  margin-top: 1rem;
  text-align: center; }
.value-prop {
  margin-top: 1rem; }
.value-props {
  margin-top: 4rem;
  margin-bottom: 4rem; }
.docs-header {
  text-transform: uppercase;
  font-size: 1.4rem;
  letter-spacing: .2rem;
  font-weight: 600; }
.docs-section {
  border-top: 1px solid #eee;
  padding: 4rem 0;
  margin-bottom: 0;}
.value-img {
  display: block;
  text-align: center;
  margin: 2.5rem auto 0; }
.example-grid .column,
.example-grid .columns {
  background: #EEE;
  text-align: center;
  border-radius: 4px;
  font-size: 1rem;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  margin-bottom: .75rem;
  font-weight: 600;
  letter-spacing: .1rem; }
.docs-example .row,
.docs-example.row,
.docs-example form {
  margin-bottom: 0; }
.docs-example h1,
.docs-example h2,
.docs-example h3,
.docs-example h4,
.docs-example h5,
.docs-example h6 {
  margin-bottom: 1rem; }
.heading-font-size {
  font-size: 1.2rem;
  color: #999;
  letter-spacing: normal; }
.code-example {
  margin-top: 1.5rem;
  margin-bottom: 0; }
.code-example-body {
  white-space: pre;
  word-wrap: break-word }
.example {
  position: relative; 
  margin-top: 4rem; }
.example-header {
  font-weight: 600;
  margin-top: 1.5rem;
  margin-bottom: .5rem; }
.example-description {
  margin-bottom: 1.5rem; }
.example-screenshot-wrapper {
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 6px;
  border: 1px solid #eee;
  height: 250px; }
.example-screenshot {
  width: 100%;
  height: auto; }
.example-screenshot.coming-soon {
  width: auto;
  position: absolute;
  background: #eee;
  top: 5px;
  right: 5px;
  bottom: 5px;
  left: 5px; }
.navbar {
  display: none; }

/* Larger than phone */
@media (min-width: 500px) {
  .header {
    margin-top: 18rem; }
  .value-props {
    margin-top: 9rem;
    margin-bottom: 7rem; }
  .value-img {
    margin-bottom: 1rem; }
  .example-grid .column,
  .example-grid .columns {
    margin-bottom: 1.5rem; }
  .docs-section {
    padding: 6rem 0; }
  .example-send-yourself-copy {
    float: right;
    margin-top: 12px; }
  .example-screenshot-wrapper {
    position: absolute;
    width: 48%;
    height: 100%;
    left: 0;
    max-height: none; }
}

/* Larger than tablet */
@media (min-width: 700px) {
  .navbar + .docs-section {
    border-top-width: 0; }
  .navbar,
  .navbar-spacer {
    display: block;
    width: 100%;
    height: 6.5rem;
    z-index: 99;
    border-bottom: 1px solid #eee; }
  .navbar-spacer {
    display: none; }
  .navbar > .container {
    width: 100%; }
  .navbar-list {
    list-style: none;
    margin-bottom: 0; }
  .navbar-item {
    position: relative;
    float: left;
    margin-bottom: 0; }
  .navbar-link {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    letter-spacing: .2rem;
    margin-right: 35px;
    text-decoration: none;
    line-height: 6.5rem;
    color: #222; }
  .navbar-link.active {
    color: #33C3F0; }
  .has-docked-nav .navbar {
    position: fixed;
    top: 0;
    left: 0; }
  .has-docked-nav .navbar-spacer {
    display: block; }
  /* Re-overiding the width 100% declaration to match size of % based container */
  .has-docked-nav .navbar > .container {
    width: 90%; }
}

